* {
    box-sizing: border-box;
}


 body {
    min-height: 1024px;
    display: block;
    position: relative;
    font-weight: 600;
}

body::after {
    content: "";
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a0/Angel_Stadium_of_Anaheim.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
} 

.page-title {
    text-align: center;
    font-size: 36px;
    padding-top: 20px;

}

main {
    margin: 0 5px 0;
}

.quiz-form {
    border: 2px solid black;
    margin-top: 20px;
    padding: 5px 15px;
    font-size: 24px;
    min-height: 250px;
    position: relative;
}

.question {
   padding: 5px 0 15px; 
}

.quiz-form label {
    font-size: 20px;
}

.button-container {
    width:100%;
    text-align: center;
    padding: 15px 0; 
    position: absolute;
    bottom: 0;
    left: 0;
}

.quiz-submit {
    font-size: 18px;
}

.score {
    margin: 20px auto 0;
    list-style: none;
    width: 325px;
    font-size: 28px;
    display: none;
}

.score-labels {
    display: inline-block;
    text-align: right;
}

.score-values {
    display: inline-block;
    padding-left: 10px;
}

.quiz-start, .quiz-end {
    padding: 70px 0 20px 0;
    text-align:center;
}

.question-block {
    display:none;
}

.quiz-end {
    display: none;
}

.final-score {
    display: block;
}

.correctOrWrong {
    display: none;
    width: 200px;
    margin: 0 auto 0;
    border: 2px solid black;
    background-color: white;
    position: relative;
    bottom: 180px;
} 

.correctOrWrongMsg {
    padding: 10px;
    font-size: 18px;
}

.correctOrWrongBtnContainer {
    padding: 10px 0;
    width: 100%;
    text-align: center;
}




